/* Navigation Menu Styling */

/* Menu Container */
menu {
  width: 100%;
  height: 100px;
  background-color: #DEBCA9;
  border-bottom-style: solid;
  border-color: #B78E80;

  text-align: center;

}

/* Top-Level Website Links */
#website-links {
  margin: 0;
  padding: 0;
  display: inline-block;

}
#website-links .menu-items{
  color: #4c4c4b;
  width: 8em;
  padding: 1em;
  display: inline-block;
  text-decoration: none;


  background-color: #DEBCA9;
}
#website-links .menu-items:hover{
  background-color: #E0C0CC;

  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: double;

}

/* Dropdown Menu */
#website-links .dropdown{
  display: inline-block;
  width: 8em;

}
#website-links .dropdown-content{
  display: none;
  position: absolute;

  background-color: #B67587;
  z-index: 5;
}
#website-links .dropdown-content a{
  color: white;

}
#website-links .dropdown-content a:hover{
  border-color: #4C4C4B;
  font-weight: 800;

}
#website-links .dropdown:hover .dropdown-content {
  display: block;

}
#website-links .dropdown-items{
  min-width: 8em;
  padding: 1em;
  display: block;

  text-align: center;

}
.dropdown-items:hover {
  background-color: #B67587;

}


/* Social Media Links */
#social-media-links {
    width: 100%;
    height: 100px;
    background-color: #DEBCA9;
    border-bottom-style: solid;
    border-color: #B78E80;


    text-align: center;
    color: #4c4c4b;

    position: absolute;
    bottom: -3000px;

}
